@media only screen and (min-width: 200px) and (max-width: 767px) {
    .fixedicons{
        display: none;
    }
    .mobilefooter{
        display: flex;
    }
    #aboutVideo{
        width: 100%;
        height: auto;
    }
}